*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

 body{
     background-color: white;
     overflow-x: hidden;
}

.mnsrat{
    font-family: 'Montserrat', sans-serif;
}

.header{
    height: 33vh;
    text-align: center;
    padding: 50px;
    color: white;
    background-color: lightslategray;
    cursor: default;
}

.utama{
    max-width: 1000px;
    margin: auto;
    background-color: #d8d8d8;
}

nav{
    position: sticky;
    display: flex;
    top: 0px;
    background: #0072ec;
    height: 65px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

footer{
    display: flex;
    background: #0072ec;
    height: 50px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    color: rgb(201, 200, 200);
    cursor: default;
}

nav ul{
    text-align: center;
    display: flex;
    width: 40%;
    justify-content: space-between;
}

nav ul li a{
    color: rgb(201, 200, 200);
    text-align: center;
    font-size: 15px;
    padding: 7px 14px;
    border-radius: 4px;
    text-transform: uppercase;
}

a.aktif , nav ul li a:hover{
    background: #2471A3;
    color: white;
    transition: .75s;
}

@media (max-width: 900px){
    nav ul{
        width: 50%;
    }

    nav ul li a{
        font-size: 13px;
    }
}

@media (max-width: 700px){
    nav ul{
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background: #0072ec;
        transform: translateX(100%);
        transition: all 1s;
        z-index: -1;
        opacity: 0;
    }

    nav ul li a{
        font-size: 20px;
             }

    nav ul li a:hover, a.aktif{
        background: none;
        color: #0082e6;
    }
}